@charset "UTF-8";

/*css reset*/
*{margin:0;padding:0;}
a{color:inherit;text-decoration:none;}
ul,li{list-style:none;}
img{vertical-align:baseline;}
html, body {width:100%;height:100%;}
.warpper{
  width: 100%;
  height: 100%;
  position: relative;
}
header{
  position: relative;
  width:100%;
  background-color: #ddd;
}

/* navigation */
nav ul{
  width: 100%;
  padding:1%;
  position: fixed;
  clear: both;

}

  nav ul li{
    display: inline-block;
    /* background-color: olive; */
    margin: 20px;

  }

/* intro */

.intro-box {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;

  background-color: rgb(216, 199, 250);

}

.intro-box .intro-box-inner {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}
