@charset "UTF-8";

/*css reset*/
*{margin:0;padding:0;}
a{color:inherit;text-decoration:none;}
ul,li{list-style:none;}
img{vertical-align:baseline;}
html, body {
  width:100%;
  height:100%;
  font-family: 'Open Sans', sans-serif;

}
.warpper{
  width: 100%;
  height: 100%;
  position: relative;
}

/* navigation */
nav{
  margin: 0;
  padding: 0;
  background-color: rgba(255 ,242,231,0.1);
  width:100%;
}
 nav ul{
  width:100%;
  margin: 0;
  padding: 0;
}

nav ul li a{
  font-size: 22px;
  color:#4a4a4a;

}
/* section */
  section{
    position: relative;

    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-image: url("../image/main_png_1.png");
    width: 100%;

  }

/* intro */

.intro{

  background-image: url("../image/main_png_1.png");
}

.intro-box{
  position: absolute;
  /* left: 10%; */
  padding-left:10%;
  top: 32%;
  width: 100%;
  text-align: left;
  color: #000;
}

h1#typed{
  font-size:6em;
  font-weight: 700;
  color:#4a4a4a;
  display:inline-block;
}

.typed-cursor {
  font-size: 5em;
  font-weight: 700;
  color:#4a4a4a;
}

h1{
  font-size:5em;
  font-weight:700;

}

/* work section */
.work{
  background-image: url("../image/Work_box Copy 8@2x.png");
}

div.work-txtBox{
  background-color:rgba(255, 255, 255, 0.9);
  border-radius:10px;
  position:relative;
  top:150px;
  left:35px;
  max-width:640px;
  max-height: 520px;
  padding:30px 60px;
  /* border:1px solid #000; */
}

.work-txtBox .work-summary p{
  text-align: justify;
}

.work-txtBox .work-info ul li{
  display: inline-block;
}

.work-txtBox .work-info ul li:nth-child(2){
  float:right;
  margin-right:60px;
}

.work-txtBox .work-info ul li span{
  font-weight:700;

}

button.basic-btn{
  width:200px;
  height:50px;
  background-color:#083073;
  color:#fff;
  border:none;
  border-radius:10px;
  text-align: left;
  padding-left:20px;
  position:relative;
}

button.basic-btn i{
  float:right;
  margin-right:20px;
  margin-top:4px;
}

button.basic-btn:hover{
  box-shadow:0px 0px 5px 1px #4a4a4a;
}

button.basic-btn:active{
  color:#083073;
  background-color:#fff2e7;
}


/* About */
.about{
  background-image: url("../image/about_bg_png.png");
  color:#fff;
  position:relative;
}

.about-titleBox h1{
  position:relative;
  top:350px;
  padding-left:10%;
}

.about-detailBox{
  background-color:rgba(255, 255, 255, 0.1);
  border-radius:10px;
  position:relative;
  top:150px;
  max-width:640px;
  max-height: 520px;
  padding:30px 60px;
}

.about-detailBox p{
  text-align: justify;
}

.about-detailBox .work-detail-btn{
  margin:40px 0;
}

.about-detailBox ul li{
  margin:30px 0;
}

.about-detailBox ul li span{
  font-weight:700;
}

.about-detailBox h2{
  font-weight:600;
  margin-bottom:10px;
}
